<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>These are all authors availble!</p>
    <ul>
        {% for a in authors %}
            <li>
            {{a.first_Name}} {{a.last_Name}}
            <a class="btn btn-primary btn-sm" href="{% url 'update_author_route' author_id=a.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>